@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;500;600;700&display=swap");
	

	@font-face {
  font-family: "Manrope";
  src:    url(../fonts/Manrope.ttf) format("TrueType") 
}


header{
	background-color: #000;
	}

.header{
	margin: 30px 0;
	}

body{
	font-family: 'Manrope', sans-serif;
	}

.search-icon {
    color: white;
}

.menu-icon {
    color: white;
}

.link{
	text-decoration: none;
	color: #000;
	}

#mobile-menu {
    position: fixed;
    top: 0;
    left: -400px;
    width: 400px;
    height: 100%;
    background-color: #000;
    transition: left 0.3s ease-in-out;
    font-family: Arial, sans-serif;
}

#menu-close {
    text-align: right;
    padding: 10px;
}

#menu-close i {
    color: white;
    font-size: 18px;
	padding-top:30px;
    cursor: pointer;
}

#mobile-menu ul {
    list-style-type: none;
    padding: 0;
}

#mobile-menu ul li {
    padding: 10px 10;
    text-align: left;
	margin: 40px;
}

#mobile-menu ul li a {
    color: white;
    text-decoration: none;
	font-family:"Manrope";
    font-size: 50px; 
    font-weight: bold;
	line-height: 0.30;
    letter-spacing: -0.04;
    padding: 9px 0;
	
}

footer{
	background-color: black;
	padding-top: 25px;
	padding-bottom: 10px;
}

footer p{
	color: white;
}

footer i{
	color: white;
	font-size: 40px;
}

footer img{
	margin-right: 30px;
}
